/*=============== BUTTON ===============*/
.button{
   display: inline-block;
   background-color: var(--first-color);
   padding: 1rem 1.75rem;
   border-radius: .5rem;
   color: var(--title-color);
   font-weight: var(--font-medium);
   transition: box-shadow .4s;

   &:hover{
      box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, .25);
   }
}