/*=============== FOOTER ===============*/
.footer{
   background-color: var(--container-color);
   padding-block: 3.5rem 2rem;

   &__container{
      row-gap: 2rem;
      text-align: center;
   }
   &__title{
      font-size: var(--h1-font-size);
      font-weight: var(--font-semi-bold);
      margin-bottom: .25rem;

      & span{
         color: var(--first-color);
      }
   }
   &__education{
      font-size: var(--normal-font-size);
   }
   &__social{
      display: flex;
      justify-content: center;
      column-gap: 1.25rem;

      &-link{
         display: flex;
         background-color: var(--first-color-alt);
         padding: .5rem;
         color: var(--title-color);
         font-size: 1.5rem;
         clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
         transition: transform .4s;

         &:hover{
            transform: translateY(-.25rem);
         }
      }
   }
   &__copy{
      font-size: var(--smaller-font-size);
      margin-top: 2rem;
   }
}