/*=============== HEADER & NAV ===============*/
.header{
   position: fixed;
   width: 100%;
   background-color: var(--container-color);
   top: 0;
   left: 0;
   z-index: var(--z-fixed);
}

.nav{
   height: var(--header-height);
   display: flex;
   justify-content: space-between;
   align-items: center;

   &__logo{
      color: var(--title-color);
      font-weight: var(--font-medium);

      & span{
         color: var(--first-color);
      }
   }
   &__toggle,
   &__close{
      display: flex;
      font-size: 1.25rem;
      color: var(--title-color);
      cursor: pointer;
   }
   // Navigation for mobile devices
   &__menu{
      @media screen and (max-width: 1023px){
         position: fixed;
         top: 0;
         right: -100%;
         background-color: hsla(0, 0%, 10%, .3);
         width: 75%;
         height: 100%;
         padding: 4.5rem 0 0 3rem;
         backdrop-filter: blur(24px);
         -webkit-backdrop-filter: blur(24px); // For safari
         transition: right .4s;
      }
   }
   &__list{
      display: flex;
      flex-direction: column;
      row-gap: 3rem;
   }
   &__link{
      color: var(--title-color);
      font-weight: var(--font-medium);
      transition: color .4s;

      &:hover{
         color: var(--first-color);
      }
   }
   &__close{
      position: absolute;
      top: 1rem;
      right: 1.5rem;
   }
}

/* Show menu */
.show-menu{
   right: 0;
}

/* Add blur to header */
.blur-header{
   background-color: transparent;
}

.blur-header::after{
   content: '';
   position: absolute;
   width: 1000%;
   height: 100%;
   background-color: hsla(0, 0%, 10%, .3);
   backdrop-filter: blur(24px);
   -webkit-backdrop-filter: blur(24px); // For safari
   top: 0;
   left: 0;
   z-index: -1;
}

/* Active link */
.active-link{
   color: var(--first-color);
}